<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Purchase Manager</title>
    <!--<title>Purchase Manager</title>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/frontpage.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="ico/favicon.png">
</head>
<body>

<!--<div class="navbar navbar-inverse navbar-fixed-top">-->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <img class="brand" src="images/logo.png">

            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="nav-collapse collapse">
                <a class="brand" href="/home"><strong style="color: #808080">Purchase Manager</strong></a>
                <!--<ul class="nav">-->
                    <!--<li><a href="#learnmore">Learn More</a></li>-->
                    <!--<li><a href="#signup">Sign-up</a></li>-->
                    <!--<li><a href="#pricing">Pricing</a></li>-->
                    <!--<li><a href="#about">About</a></li>-->
                <!--</ul>-->
            </div>


            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

    <div class="spacer" style="height: 110px;">&nbsp;</div>

    <div class="row spacer">
        <div class="span12 offset24">
            <form class="span12 form-login">
                <div class="well" style="background-color: #FDFFC9">
                    Your session has expired!
                </div>
                <div class="row spacer">
                    <div class="span12">
                        <input class="input-block-level" placeholder="Email or username" type="text">
                    </div>
                </div>
                <div class="row spacer">
                    <div class="span12">
                        <input class="input-block-level" placeholder="Password" type="password">
                    </div>
                </div>
                <div class="row spacer">
                    <div class="span12">
                        <label class="checkbox">
                            <input value="remember-me" type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
                <div class="row spacer">
                    <div class="span12">
                        <div class="spacer" style="height: 20px;">&nbsp;</div>
                        <button class="btn btn-primary" type="submit">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/bootstrap-transition.js"></script>
<script src="js/bootstrap-alert.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-scrollspy.js"></script>
<script src="js/bootstrap-tab.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script src="js/bootstrap-popover.js"></script>
<script src="js/bootstrap-button.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-carousel.js"></script>
<script src="js/bootstrap-typeahead.js"></script>

</body>
</html>



