<!-- Body Start -->
<div class="span40">
    <!--<div class="spacing" style="height:900px">-->

    <div class="page-header">
        <h2 class="section-h2">Organization Management</h2>
    </div>

    <!-- Company Information Start -->
    <form class="form-horizontal" ng-controller="CompanySettingsCtrl">
        <div class="plainwell" style="padding-top: 0; padding-bottom: 0; margin-bottom: 5px">
            <h4 style="margin: 10px 0">My Organization</h4>
            <hr style="margin-top: 5px">
            <div class="control-group">
                <label class="control-label">Company Name</label>
                <div class="controls">
                    <span class="uneditable-input">{{companySettings.companyName}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Company Username</label>
                <div class="controls">
                    <span class="uneditable-input">{{companySettings.userName}}</span>
                </div>
            </div>
        </div>
    </form>
    <!-- Company Information Stop -->

    <!-- Accounting Start -->
    <div class="plainwell" ng-controller="OrganizationCtrl">
        <form class="form-horizontal">
            <h4 style="margin: 10px 0">Associated Organizations</h4>
            <hr style="margin-top: 5px">
            <div class="bar">
                <!-- Create a binding between the searchString model and the text field -->
                <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
            </div>
            <table class="table table-condensed table-striped table-hover">
                <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Company User Name</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th class="hidden-phone">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="loadingMessageOrg">
                    <td colspan="11" style="height: 4em;vertical-align: middle;text-align:center;">Loading...</td>
                </tr>
                <tr ng-repeat="org in associatedOrgs | searchForOrganization:searchString:this | startFrom:(currentPage - 1) * pageSize | limitTo:pageSize">
                    <td><a href="" ng-click="editOrg(org)">{{org.associatedCompanyName}}</a></td>
                    <td>{{org.associatedCompanyUserName}}</td>
                    <td>{{org.createdDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{org.status}}</td>
                    <td class="hidden-phone"><i class="icon-trash" ng-click="deleteOrg(org.id)"></i></td>
                </tr>
                <tr ng-show="noContentOrg">
                    <td colspan="4" style="height: 4em;vertical-align: middle;text-align:center;">You have not defined any organization.</td>
                </tr>
                </tbody>
            </table>
            <div ng-show="numberOfPages()>1">
                <pagination num-pages="numberOfPages()" current-page="currentPage"></pagination>
            </div>

            <form class="form-horizontal">
                <div class="control-group">
                    <a href="#associateOverlay" role="button" ng-click="resetClassOrganization()" class="btn btn-small" data-toggle="modal">Add Organization</a>
                </div>
            </form>
        </form>
        <!-- Modals -->
        <div id="associateOverlay" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true" ng-include="'partials/associate-org-model.html'"></div>
        <!-- /Modals -->
    </div>
    <!-- Accounting Stop -->
    <!--Company Codes Start-->
    <div class="plainwell" ng-controller="CompanyCodesCtrl">
        <form class="form-horizontal">
            <h4 style="margin: 10px 0">Company Codes</h4>
            <hr style="margin-top: 5px">
            <!--<div class="bar">-->
                <!--&lt;!&ndash; Create a binding between the searchString model and the text field &ndash;&gt;-->
                <!--<input type="text" ng-model="searchString" placeholder="Enter your search terms" />-->
            <!--</div>-->
            <div class="bar">
                <!-- Create a binding between the searchString model and the text field -->
                <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
            </div>
            <table class="table table-condensed table-striped table-hover">
                <thead>
                <tr>
                    <th><input type="checkbox" ng-change="checkAll(confirmed)" ng-model="confirmed"></th>
                    <th>Company Code</th>
                    <th>Company Code Description</th>
                    <th>Company Code Address</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th class="hidden-phone">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="loadingMessageCodes">
                    <td colspan="11" style="height: 4em;vertical-align: middle;text-align:center;">Loading...</td>
                </tr>
                <tr ng-repeat="code in companyCodes | searchForCompany:searchString:this | startFrom:(currentPage - 1) * pageSize | limitTo:pageSize">
                    <td><input ng-model="code.selected" type="checkbox" ng-change="setCheckAll(code.selected)"></td>
                    <td><a href="" ng-click="editCompanyCode(code)">{{code.companyCode}}</a></td>
                    <td>{{code.companyCodeDescription}}</td>
                    <td>{{code.companyAddress}}</td>
                    <td>{{code.createdOn | date:'MM/dd/yyyy'}}</td>
                    <td>{{code.active | setStatus}}</td>
                    <td class="hidden-phone"><i class="icon-trash" ng-click="deleteCompanyCode(code.id,code.companyCode)"></i></td>
                </tr>
                <tr ng-show="noContentCodes">
                    <td colspan="6" style="height: 4em;vertical-align: middle;text-align:center;">You have not defined any Company Codes.</td>
                </tr>
                </tbody>
            </table>
            <div ng-show="numberOfPages()>1">
                <pagination num-pages="numberOfPages()" current-page="currentPage"></pagination>
            </div>

            <form class="form-horizontal">
                <div class="control-group">
                    <a href="#associateCompanyCode" role="button" ng-click="resetClassCompanyCode()" class="btn btn-small" data-toggle="modal">Add Company Code</a>
                    <a role="button" class="btn btn-small" ng-click="activateCompanyCode()"><i class="icon-small icon-ok"></i> ACTIVATE</a>
                    <a role="button" class="btn btn-small" ng-click="deactivateCompanyCode()"><i class="icon-small icon-remove"></i> DEACTIVATE</a>
                </div>
            </form>
        </form>
        <!-- Modals -->
        <div id="associateCompanyCode" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true" ng-include="'partials/associate-company-code-model.html'"></div>
        <!-- /Modals -->
    </div>
    <!--Comapnay Codes End-->

    <!-- Buyer Group Section Start -->
    <div class="plainwell" ng-controller="BuyerGroupCtrl">
        <form class="form-horizontal">
            <h4 style="margin: 10px 0">Buyer Groups</h4>
            <hr style="margin-top: 5px">
            <div class="control-group">
                <label class="control-label" style="width:170px; text-align: left !important;" for="buyerGroupId">Default Buyer Group</label>
                <div class="controls">
                    <select id="buyerGroupId" ng-model="companyBuyerGroupId" ng-options="buyerGroup.id as buyerGroup.groupName for buyerGroup in buyerGroups |filter:{active:'true'}" ng-change="defaultBuyerGroup(companyBuyerGroupId)" ></select>

                </div>
            </div>
            <div class="bar">
                <!-- Create a binding between the searchString model and the text field -->
                <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
            </div>
            <table class="table table-condensed table-striped table-hover">
                <thead>
                <tr>
                    <th><input type="checkbox" ng-change="checkAll(confirmed)" ng-model="confirmed"></th>
                    <th>Group Name</th>
                    <th>Group Description</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th class="hidden-phone">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="loadingMessageBG">
                    <td colspan="11" style="height: 4em;vertical-align: middle;text-align:center;">Loading...</td>
                </tr>
                <tr ng-repeat="group in buyerGroups | searchForBuyerGrp:searchString:this | startFrom:(currentPage - 1) * pageSize | limitTo:pageSize">
                    <td><input ng-model="group.selected" type="checkbox" ng-change="setCheckAll(group.selected)"></td>
                    <td><a href="" ng-click="editBuyerGroup(group)">{{group.groupName}}</a></td>
                    <td>{{group.groupDescription}}</td>
                    <td>{{group.createdOn | date:'MM/dd/yyyy'}}</td>
                    <td>{{group.active | setStatus}}</td>
                    <td class="hidden-phone"><i class="icon-trash" ng-click="deleteBuyerGroup(group.id)"></i></td>
                </tr>
                <tr ng-show="noContentBG">
                    <td colspan="4" style="height: 4em;vertical-align: middle;text-align:center;">You have not defined any organization.</td>
                </tr>
                </tbody>
            </table>
            <div ng-show="numberOfPages()>1">
                <pagination num-pages="numberOfPages()" current-page="currentPage"></pagination>
            </div>

            <form class="form-horizontal">
                <div class="control-group">
                    <a href="#buyerGroupOverlay" role="button" ng-click="resetClassBuyerGroup()" class="btn btn-small" data-toggle="modal">Add Buyer Group</a>
                    <a role="button" class="btn btn-small" ng-click="activateBuyer()"><i class="icon-small icon-ok"></i> ACTIVATE</a>
                    <a role="button" class="btn btn-small" ng-click="deactivateBuyer()"><i class="icon-small icon-remove"></i> DEACTIVATE</a>
                </div>
            </form>
        </form>
        <!-- Modals -->
        <div id="buyerGroupOverlay" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true" ng-include="'partials/buyer-group-modal.html'"></div>
        <!-- /Modals -->
    </div>
    <!-- Buyer Group Section End -->


    <!--</div>-->
</div>