<!-- Body Start -->
<div class="span40">
    <!--<div class="spacing" style="height:900px">-->

    <div class="page-header">
        <h2 class="section-h2">My Account</h2>
    </div>

    <!-- Address Management Start -->
    <div class="plainwell" ng-controller="AddressCtrl" ng-show="acl.setDefaultAddress">
        <form class="form-horizontal">
            <h4 style="margin: 10px 0">Address Management</h4>
            <hr style="margin-top: 5px">
            <div class="control-group">
                <label class="control-label" style="width:170px; text-align: left !important;" for="address">Default Delivery Address</label>
                <div class="controls">
                    <select id="address" ng-model="defaultShipping.id" ng-options="address.id as address.addressName for address in addresses|filter:{active:'true'}" ng-change="defaultShippingChange(defaultShipping.id)" required></select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" style="width:170px; text-align: left !important;" for="address">Default Company Address</label>
                <div class="controls">
                    <select id="defaultCompanyAddress" ng-model="defaultCompanyAddress.id" ng-options="address.id as address.addressName for address in addresses|filter:{companyAddress:'true', active:'true'}" ng-change="defaultCompanyAddressChange(defaultCompanyAddress.id)" required></select>
                </div>
            </div>
            <hr>
        </form>
        <div class="bar">
            <!-- Create a binding between the searchString model and the text field -->
            <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
        </div>
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th class="hidden-tablet hidden-phone">State/Region</th>
                    <th class="hidden-tablet hidden-phone">Zip</th>
                    <th class="hidden-tablet hidden-phone">Country</th>
                    <th>Telephone</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-show="loadingMessageAdd">
                    <td colspan="11" style="height: 4em;vertical-align: middle;text-align:center;">Loading...</td>
                </tr>
                <tr ng-repeat="address in addresses | searchForAddress:searchString:this | startFrom:(currentPage - 1) * pageSize | limitTo:pageSize">
                    <td>{{address.addressName}}</td>
                    <td>{{address.city}}</td>
                    <td class="hidden-tablet hidden-phone">{{address.state | uppercase}}</td>
                    <td class="hidden-tablet hidden-phone">{{address.postalCode}}</td>
                    <td class="hidden-tablet hidden-phone">{{address.country}}</td>
                    <td>{{address.phone | phonenumber}}</td>

                </tr>
                <tr ng-show="noContentAdd">
                    <td colspan="6" style="height: 4em;vertical-align: middle;text-align:center;">You have not defined any addresses.</td>
                </tr>
            </tbody>
        </table>
        <div ng-show="numberOfPages()>1">
            <pagination num-pages="numberOfPages()" current-page="currentPage"></pagination>
        </div>

    </div>
    <!-- User Information Stop -->

    <!-- Accounting Start -->
    <div class="plainwell" ng-controller="CostCenterCtrl">
        <form class="form-horizontal">
            <h4 style="margin: 10px 0">Accounting</h4>
            <hr style="margin-top: 5px">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" style="margin-left: 2%; text-align: left!important;" for="costCenter">Default Cost Center</label>
                    <div class="controls">
                        <select id="costCenter" ng-model="selectedCostCenter" ng-options="costCenter as costCenter.name for costCenter in costCenters|filter:{active:'true'}" ng-change="defaultCostCenterChange(selectedCostCenter)" required></select>
                    </div>
                </div>
                <hr>
            </form>
        </form>
    </div>
    <!-- Accounting Stop -->

    <!-- Localization Start -->
    <form class="form-horizontal" ng-controller="CurrencyCtrl">
        <div class="plainwell">
            <h4 style="margin: 10px 0">Localization</h4>
            <hr style="margin-top: 5px">
            <div class="control-group">
                <label class="control-label" style="margin-left: 2%; text-align: left!important;" for="currency">Default Currency</label>
                <div class="controls">
                    <select id="currency" ng-model="selectedCurrency" ng-options="currency as currency.codeCurrency for currency in currencies" ng-change="defaultCurrencyChange(selectedCurrency)" required></select>
                </div>
            </div>
        </div>
    </form>
    <!-- Localization Stop -->

    <!-- Modals -->
    <div id="costCenterOverlay" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true" ng-include="'partials/costcenter-modal.html'" ng-controller="CostCenterCtrl"></div>    <!-- /Modals -->
    <!-- /Modals -->

</div>
