.ieQtyDetail{
    margin-top: 35px !important; width: 56px; margin-bottom: 0px; margin-right: -160px !important;
}

.ieAddReqDetail{
    margin-right: -160px !important; margin-top: 55px !important;
}